body {
    margin: 0;
    font-family: Arial, sans-serif;
    }
    .footer {
        background-color: #222;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .footer-text {
        margin: 0;
        font-size: 14px;
    }
    .social-icons {
        margin-top: 15px;
    }
    .social-icon {
        display: inline-block;
        margin:0 10px ;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        transition: transform 0.3s,color 0.3s;    
    }
    .social-icon:hover {
        transform: scale(1.2);
        color: #00bcd4;
    }
    .social-icon i {
        display: block;

    }